<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
	<link rel="alternate" type="application/rss+xml" title="{{ page.title }}" href="{{ site.production_url }}{{ site.JB.rss_path }}" />
	<link rel="alternate" type="application/atom+xml" title="{{ page.title }}" href="{{ site.production_url }}{{ site.JB.atom_path }}" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>

<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
		  <div class="unit-inner unit-head-inner">
		    <a href="/"><img src="/assets/fossi_logo_medium.png" class="logo-img"></a>
			  <nav class="nav-global">
					<ul>
						<li class="page"><a href="/fossi.html">What is FOSSi?</a></li>
						<li class="page"><a href="/manifesto.html">Manifesto</a></li>
						<li class="page"><a href="/organization">FOSSi Organization</a></li>
						<li class="page"><a href="/getinvolved.html">Get Involved</a></li>
						<li class="archive"><a href="/archive.html">News &amp; Posts</a></li>
						<li class="page"><a href="/licenses.html">FOSSi Licenses</a></li>
						<li class="page"><a href="/projects.html">Projects</a></li>
						<li class="page"><a href="/sponsors.html">Sponsors</a></li>
					</ul>
				</nav>
			</div>
			<!-- unit-inner -->

		</div><!-- unit-head -->
	</header>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
		  <div class="unit-inner unit-foot-inner">
		    <h3>Latest posts</h3>
		    <ul class="posts">
		      {% for post in site.posts limit:5 %}
		      <li>
			<span><b>{{ post.date | date_to_string }}</b></span> &raquo;
			<a href="{{ BASE_PATH }}{{ post.url }}">
			  <b>{{post.title}}</b></a><br/>
			{{ post.content | strip_html | truncatewords: 20 }}..
			<a href="{{ BASE_PATH }}{{ post.url }}">
			  more</a><br/>
		      </li>
		      {% endfor %}
		    </ul>
		  </div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
			<div class="unit-inner unit-head-inner">
			  <p class="licence">
			    <ul class="share-buttons">
			      <li><a href="mailto:info@fossi-foundation.org"><img src="/assets/flat_web_icon_set/color/Email.png"></a></li>
	  <li><a href="https://www.facebook.com/fossifoundation" title="FOSSi on Facebook" target="_blank"><img src="/assets/flat_web_icon_set/color/Facebook.png"></a></li>
	  <li><a href="https://twitter.com/FossiFoundation" target="_blank" title="FOSSi on Twitter"><img src="/assets/flat_web_icon_set/color/Twitter.png"></a></li>
	  <li><a href="https://plus.google.com/+FossifoundationOrg42" target="_blank" title="FOSSi on Google+"><img src="/assets/flat_web_icon_set/color/Google+.png"></a></li>
	  <li><a href="http://www.linkedin.com/company/fossi-foundation" target="_blank" title="FOSSi on LinkedIn"><img src="/assets/flat_web_icon_set/color/LinkedIn.png"></a></li>
	</ul>
			  </p>
			  <p class="licence">
			    The Free and Open Source Silicon Foundation C.i.C.<br>
                            71-75 Shelton Street, London, WC2H 9JQ
			  </p>
			  <p class="licence">
			    Theme: <a href="http://layouts-the.me">the_minimum</a> based on <a href="http://jekyllbootstrap.com/">Jekyll-bootstrap</a>.<br>
			    Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>.
			  </p>
			</div>
	</footer>
</div><!-- page -->
  {% include JB/analytics %}
</body>
</html>
