    <div class="sidebar-nav">
      <nav class="navbar navbar-default fossi-navbar" role="navigation">
        <div class="navbar-header visible-xs">
          <a href="/"><img src="/assets/fossi_logo_medium.png" class="fossi-navbar-logo"/></a>
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="fossi-nav navbar-collapse collapse sidebar-navbar-collapse">
          <div class="visible-sm"><a href="/"><img src="/assets/fossi_logo_medium.png"/></a></div>
	  <div class="visible-md visible-lg"><a href="/"><img src="/assets/fossi_logo_large.png" class="fossi-logo-large"/></a></div>
          <ul class="nav navbar-nav">
            <li><a href="/fossi" class="fossi-navlink">What is FOSSi?</a></li>
            <li><a href="/archive" class="fossi-navlink">News & Blog</a></li>
            <li><a href="/manifesto" class="fossi-navlink">Manifesto</a></li>
            <li><a href="/organization" class="fossi-navlink">Organization</a></li>
            <li><a href="/projects" class="fossi-navlink">Projects</a></li>
            <li><a href="/events" class="fossi-navlink">Events</a></li>
            <li><a href="/licensing" class="fossi-navlink">Licensing</a></li>
            <li><a href="/getinvolved" class="fossi-navlink">Get Involved</a></li>
            <li><a href="/sponsors" class="fossi-navlink">Sponsors</a></li>
            <li><a href="/code-of-conduct" class="fossi-navlink">Code of Conduct</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>
    </div>


