    <div class="sidebar-nav">
      <nav class="navbar navbar-default fossi-navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand"><img src="/assets/fossi_logo_medium.png"/></span>
        </div>
        <div class="fossi-nav navbar-collapse collapse sidebar-navbar-collapse">
          <div class="visible-sm"><img src="/assets/fossi_logo_medium.png"/></div>
	  <div class="visible-md visible-lg"><img src="/assets/fossi_logo_large.png" class="fossi-logo-large"/></div>
          <ul class="nav navbar-nav">
            <li><a href="{{base}}/fossi" class="fossi-navlink">What is FOSSi?</a></li>
            <li><a href="{{base}}/archive" class="fossi-navlink">News & Blog</a></li>
            <li><a href="{{base}}/manifesto" class="fossi-navlink">Manifesto</a></li>
            <li><a href="{{base}}/organization" class="fossi-navlink">Organization</a></li>
            <li><a href="{{base}}/projects" class="fossi-navlink">Projects</a></li>
            <li><a href="{{base}}/licenses" class="fossi-navlink">Licenses</a></li>
            <li><a href="{{base}}/getinvolved" class="fossi-navlink">Get Involved</a></li>
            <li><a href="{{base}}/sponsors" class="fossi-navlink">Sponsors</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>
    </div>


