<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-2 col-xs-12 fossi-sidebar">
	    {% include header.html %}
	</div>
	<div class="col-md-7 fossi-content">
          {{ content }}
	</div>
	<div class="col-md-3 fossi-recent">
	  <h4>Recent activity</h4>
	    {% for post in site.posts limit:5 %}
	  <p><b>{{ post.date | date_to_string }}</b> &raquo;
	      <a href="{{ BASE_PATH }}{{ post.url }}">
		<b>{{post.title}}</b></a><br/>
	      {{ post.content | strip_html | truncatewords: 20 }}..
	      <a href="{{ BASE_PATH }}{{ post.url }}">
		more</a></p>
	    {% endfor %}

	  <ul class="share-buttons" style="margin-top: 20px">
	  <li><a href="mailto:info@fossi-foundation.org"><img src="/assets/flat_web_icon_set/color/Email.png"></a></li>
	  <li><a href="https://twitter.com/FossiFoundation" target="_blank" title="FOSSi on Twitter"><img src="/assets/flat_web_icon_set/color/Twitter.png"></a></li>
	  <li><a href="http://www.linkedin.com/company/fossi-foundation" target="_blank" title="FOSSi on LinkedIn"><img src="/assets/flat_web_icon_set/color/LinkedIn.png"></a></li>
	</ul>

	<p style="font-size: 11px">The Free and Open Source Silicon Foundation C.i.C.<br>
          Unit C5, Tenterfields Business Park, Halifax, England, HX2 6EQ
	</p>
	<p style="font-size: 11px"><a href="mailto:info@fossi-foundation.org">info@fossi-foundation.org</a>
	</p>
	</div>
      </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>

</html>
