<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-2 col-xs-12 fossi-sidebar">
	    {% include header.html %}
	</div>
	<div class="col-md-7 fossi-content">
          {{ content }}
	</div>
	<div class="col-md-3 fossi-recent">
	  <h4>Recent activity</h4>
	    {% for post in site.posts limit:5 %}
	  <p><b>{{ post.date | date_to_string }}</b> &raquo;
	      <a href="{{ BASE_PATH }}{{ post.url }}">
		<b>{{post.title}}</b></a><br/>
	      {{ post.content | strip_html | truncatewords: 20 }}..
	      <a href="{{ BASE_PATH }}{{ post.url }}">
		more</a></p>
	    {% endfor %}

	  <ul class="share-buttons" style="margin-top: 20px">
	  <li><a href="mailto:info@fossi-foundation.org"><img src="/assets/flat_web_icon_set/color/Email.png"></a></li>
	  <li><a href="https://twitter.com/FossiFoundation" target="_blank" title="FOSSi on Twitter"><img src="/assets/flat_web_icon_set/color/Twitter.png"></a></li>
	  <li><a href="https://plus.google.com/+FossifoundationOrg42" target="_blank" title="FOSSi on Google+"><img src="/assets/flat_web_icon_set/color/Google+.png"></a></li>
	  <li><a href="http://www.linkedin.com/company/fossi-foundation" target="_blank" title="FOSSi on LinkedIn"><img src="/assets/flat_web_icon_set/color/LinkedIn.png"></a></li>
	</ul>

	<p style="font-size: 11px">The Free and Open Source Silicon Foundation C.i.C.<br>
          71-75 Shelton Street, London, WC2H 9JQ
	</p>
	<p style="font-size: 11px"><a href="mailto:info@fossi-foundation.org">info@fossi-foundation.org</a>
	</p>
	</div>
      </div>
    </div>
  </body>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
